<!-- REGISTER -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration: Magenta Applicant Tracking</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/formatStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>
<body>
    <nav class="navbar-fixed-top" id="nav">
        <a id="navHeader" href="index.html">MAGENTA</a>
        <link><a href="index.html"><span id="homeGlyph" class="glyphicon glyphicon-home" aria-hidden="true"></span></a></link>
    </nav>
    <div class="jumbotron">
        <div>
            <h1>Registration</h1>
            <form class="create-update-form" action="/create" method="POST">
                <div class="form-group">
                    <input type="radio" id="level" name="level" value="hr">I belong to HR<br>
                    <input type="radio" id="level" name="level" value="management">I belong to Management
                    </div>
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <button type="submit" id="submit">Sign Up!</button>
            </form>
        </div>
    </div>
    <footer id="footer">
        <p>Copyright 2017 Magenta Group</p>
    </footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
  
  $("#submit").on("click", function() {

    var newUser = {
      first_name: $("#first_name").val(),
      last_name: $("#last_name").val(),
      email: $("#email").val(),
      password: $("#password").val()
    }
    console.log(newUser);

    $.post("/create", newUser, function(data) {

    });


  });

</script>

</body>
</html>