<!-- REGISTER -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration: Magenta Applicant Tracking</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/formatStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</head>
<body>
    <nav class="navbar-fixed-top" id="nav">
        <a id="navHeader" href="index.html">MAGENTA</a>
        <link><a href="index.html"><span id="homeGlyph" class="glyphicon glyphicon-home" aria-hidden="true"></span></a></link>
    </nav>
    <div class="jumbotron">
        <div>
            <h1>Registration</h1>

            <form action="/newUser" method="post" role="form">

                  <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Enter First Name" required/>
                  </div>

                  <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Enter Last Name" required/>
                  </div>

                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" name="email" class="form-control" id="email" placeholder="Enter Email Address" required/>
                  </div>

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required/>
                  </div>

                  <div class="form-group">
                    <label for="level">Are you from HR or Management?</label>
                      <select data-placeholder="" name="level" class="chosen-select" id="level">
                        <option value=""></option>
                        <option value="1">HR</option>
                        <option value="2">Management</option>
                      </select>
                  </div>

                  <div class="form-group">
                    <input id="createBtn" type="submit" id="submit" class="btn btn-primary" value="Register">
                  </div>

            </form>
        </div>
    </div>
    <footer id="footer">
        <p>Copyright 2017 Magenta Group</p>
    </footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
  
  $("#submit").on("click", function(event) {

    event.preventDefault();

  });

</script>

</body>
</html>