/*DESKTOP CSS*/
/*HOMEPAGE*/
#nav {
  background-color: #0F1626;
  border-bottom: 3px solid #EAC67A;
  padding-bottom: 0%;
}

#navHeader {
  font-family: Acme;
  color: #C52966;
  font-size: 60px;
  margin-left: 3%;
}

#homeGlyph {
  float: right;
  color: white;
}

.jumbotron {
  margin-top: 6%;
  /*min-height: 600px;*/
}

#jumboAlt {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

#dashboardDiv {
  margin-top: 6%;
}

#jumboMain {
  background-image: url("../images/ats1.jpg");
  min-height: 1100px;
  margin-bottom: 0%;
} 

#jumboContent {
  margin-top: 3.5%;
  padding-left: 0%;
  padding-right: 3%;
  text-align: center;
}

#contentDiv {
  padding: 5%;
  background-color: #6B7A8F;
}

#content {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 2%;
  background-color: #fafbed;
  border: 1px solid black;
}

#tagline {
  padding-bottom: 4%;
}

a:visited {
  color: white;
}

#buttonDiv {
  width: 60%; 
  margin-left: 20%;
}

.standardBtn {
  background-color: grey;
  font-size: 20px;
  font-family: Arial;
  color: white;
  border: none;
  border-radius: 12px;
  margin-right: 4%;
}

#footer {
  text-align: center;
  color: #EAC67A;
  background-color: #0F1626;
  padding: 2%;
}

.modal-header {
  font-family: Source Sans Pro;
  font-weight: bold;
  color: #C52966;
  background-color: #101e41;
}

.modal-body {
  padding-top: 1%;
  border-top: 2px solid yellow;
  background-color: #ebebeb;
}

#myModalLabel {
  text-align: center;
}

.modal-footer {
  background-color: #ebebeb;
}

#userControlHeader {
  text-align: center;
  font-weight: bold;
  padding-bottom: 2.5%;
}

.userForm {
  width: 60%;
  margin-left: 20%;
}

button.standardBtn {
  margin: 5px;
}

/* ==========================================================
 * Update Page
 * =========================================================*/

 /*Edit Clear button*/
#edit-clear{
    margin: auto 50px 50px ;
}

.process-name {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  /*top: 50px;*/
}

.completed {
  margin: 30px auto;
}


/* ==================================
 * Loading Bars
 * ==================================*/
.loading{
     width:50px;
     height:50px;
     margin:30px auto;
     /*position:relative;*/
}
/*The next part of the CSS will be adding the animation to each bar of the spinner, this animation is going to be called fadeit and will run forever. The fadeit animation will change the opacity of the element from full to clear and back again. Changing the elements with this effect at different times will make it look like the bars are spinning.*/
.loading.bar div{
     width: 7px;
     height: 25px;
     background: purple;
     position: absolute;
     top: 10px;
     left: 20px;
     opacity:0.05;
     -webkit-animation: fadeit 1.1s linear infinite;
     -moz-animation: fadeit 1.1s linear infinite;
     animation: fadeit 1.1s linear infinite;
}
/*Once we have assigned the animation to the bars we can now go through each of the bars and define the angle of the bar and the time delay of the animation.
We want to change the delay of each bar to be different so that the animation will start at different times.*/
.loading.bar div:nth-child(1){
     -webkit-transform: rotate(0deg) translate(0, -15px);
     -moz-transform: rotate(0deg) translate(0, -15px);
     transform: rotate(0deg) translate(0, -15px); 

     -webkit-animation-delay:0.39s;
     -moz-animation-delay:0.39s;
     animation-delay:0.39s;
} 

.loading.bar div:nth-child(2){
     -webkit-transform: rotate(45deg) translate(0, -15px);
     -moz-transform: rotate(45deg) translate(0, -15px);
     transform: rotate(45deg) translate(0, -15px); 

     -webkit-animation-delay:0.52s;
     -moz-animation-delay:0.52s;
     animation-delay:0.52s;
} 

.loading.bar div:nth-child(3){
     -webkit-transform: rotate(90deg) translate(0, -15px);
     -moz-transform: rotate(90deg) translate(0, -15px);
     transform: rotate(90deg) translate(0, -15px); 

     -webkit-animation-delay:0.65s;
     -moz-animation-delay:0.65s;
     animation-delay:0.65s;
} 

.loading.bar div:nth-child(4){
     -webkit-transform: rotate(135deg) translate(0, -15px);
     -moz-transform: rotate(135deg) translate(0, -15px);
     transform: rotate(135deg) translate(0, -15px); 

     -webkit-animation-delay:0.78s;
     -moz-animation-delay:0.78s;
     animation-delay:0.78s;
} 

.loading.bar div:nth-child(5){
     -webkit-transform: rotate(180deg) translate(0, -15px);
     -moz-transform: rotate(180deg) translate(0, -15px);
     transform: rotate(180deg) translate(0, -15px); 

     -webkit-animation-delay:0.91s;
     -moz-animation-delay:0.91s;
     animation-delay:0.91s;
} 

.loading.bar div:nth-child(6){
     -webkit-transform: rotate(225deg) translate(0, -15px);
     -moz-transform: rotate(225deg) translate(0, -15px);
     transform: rotate(225deg) translate(0, -15px); 

     -webkit-animation-delay:1.04s;
     -moz-animation-delay:1.04s;
     animation-delay:1.04s;
} 

.loading.bar div:nth-child(7){
     -webkit-transform: rotate(270deg) translate(0, -15px);
     -moz-transform: rotate(270deg) translate(0, -15px);
     transform: rotate(270deg) translate(0, -15px); 

     -webkit-animation-delay:1.17s;
     -moz-animation-delay:1.17s;
     animation-delay:1.17s;
} 

.loading.bar div:nth-child(8){
     -webkit-transform: rotate(315deg) translate(0, -15px);
     -moz-transform: rotate(315deg) translate(0, -15px);
     transform: rotate(315deg) translate(0, -15px); 

     -webkit-animation-delay:1.3s;
     -moz-animation-delay:1.3s;
     animation-delay:1.3s;
}
/*Below is the animation keyframes fadeit, this is where we define what we want the animation to do. On this animation we are starting the element opacity to be full and by the end of the animation the element will be clear.
*/
@-webkit-keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
@-moz-keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
@keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}


/*===================================*/
/*========DRAWNCHECK ANIMATION=======*/
#check {
    fill: none;
    stroke: green;
    stroke-width: 20;
   /*stroke-linecap: round;*/
    stroke-dasharray: 180;
   stroke-dashoffset: 180;
   -webkit-animation: draw 2s infinite  ease;
  animation: draw 2s infinite ease;
    }

-webkit-@keyframes draw {
  to {
      stroke-dashoffset: 0;
      }
   }
@keyframes draw {
  to {
   stroke-dashoffset: 0;
      }
  }