<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
	<title>Magenta Applicant Tracking App</title>
	<!-- <link rel="stylesheet" type="text/css" href="assets/css/reset.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<!-- page-header -->
	<header>
		<h1>Magenta Applicant Tracking App</h1>
	</header>
	<!-- main content for HR homepage -->
	<section class="container" id="mainContent">
		<!-- start new applicant div -->
		<div class="jumbotron">
			<h2>New Applicants</h2>
			<p>Will fill in description later - this is placeholder text</p>
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newApplicantModal">
		  	ADD NEW APPLICANT
			</button>
			<!-- modal start -->
			<div class="modal fade bs-example-modal-lg" id="newApplicantModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog">
			  <!-- Modal Content -->
			    <div class="modal-content">
			    	<!-- Modal Header -->
			      <!-- The .modal-header class is used to define the style for the header of the modal  -->
			      <div class="modal-header">
			      <!-- The <button> inside the header has a data-dismiss="modal" attribute which closes the modal if you click on it -->
			      <!-- The .close class styles the close button, and the .modal-title class styles the header with a proper line-height -->
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">New Applicant</h4>
			      </div>

			      <!-- The .modal-body class is used to define the style for the body of the modal. Add any HTML markup here; paragraphs, images, videos, etc. -->
			      <div class="modal-body">

			      <!-- New Applicant Form -->
			        <form action="/create" method="post" role="form">

			          <div class="form-group">
			            <label for="first_name">First Name</label>
			            <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Enter First Name" required/>
			          </div>

			          <div class="form-group">
			            <label for="last_name">Last Name</label>
			            <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Enter Last Name" required/>
			          </div>

			          <div class="form-group">
			            <label for="home_phone">Home Phone</label>
			            <input type="text" name="home_phone" class="form-control" id="home_phone" placeholder="Home Phone" required/>
			          </div>

			          <div class="form-group">
			            <label for="cell_phone">Cell Phone</label>
			            <input type="text" name="cell_phone" class="form-control" id="cell_phone" placeholder="Cell Phone" required/>
			          </div>

			          <div class="form-group">
			            <label for="email">Email Address</label>
			            <input type="text" name="email" class="form-control" id="email" placeholder="Email Address" required/>
			          </div>
						
					  <div class="form-group">
		                <label for="contract_id">Contract</label>
		                	<select data-placeholder="" name="contract_id" class="chosen-select" id="contract_id">
						 		<option value=""></option>
					            <option value="1">1 - Transportation</option>
					            <option value="2">2 - Warehouse</option>
					            <option value="3">3 - Lav&amp;Water</option>
					            <option value="4">4 - FeDex</option>
					            <option value="5">5 - VBC</option>
					            <option value="6">6 - Wheelchair</option>
					            <option value="7">7 - Port Authority Baggage</option>
	      					</select>
	              	  </div>

	              	  <div class="form-group">
		                <label for="position_id">Position</label>
		                	<select data-placeholder="" name="position_id" class="chosen-select" id="position_id">
						 		<option value=""></option>
					            <option value="1">1 - Escort</option>
					            <option value="2">2 - Gate Agent</option>
					            <option value="3">3 - Supervisor</option>
					            <option value="4">4 - Lav Driver</option>
					            <option value="5">5 - VBC</option>
					            <option value="6">6 - Wheelchair Agent</option>
					            <option value="7">7 - Baggage Handler</option>
					            <option value="8">8 - Team Lead</option>
					            <option value="9">9 - Bus Driver</option>
					            <option value="10">10 - Operations Managers</option>
	      					</select>
	              	  </div>

			          <div class="form-group">
			            <label for="driver_license">Driver License # (if applicable)</label>
			            <input type="text" name="driver_license" class="form-control" id="driver_license" placeholder="Driver License #"/>
			          </div>

			          <div class="form-group">
			            <label for="driver_exp">Driver License Expiration Date in YYYY-MM-DD format (if applicable)</label>
			            <input type="text" name="driver_exp" class="form-control" id="driver_exp" placeholder="Driver License Expiration Date"/>
			          </div>

			          <div class="form-group">
			            <label for="sora_license">SORA License # (if applicable)</label>
			            <input type="text" name="sora_license" class="form-control" id="sora_license" placeholder="SORA License #"/>
			          </div>

			          <div class="form-group">
			            <label for="sora_exp">SORA License Expiration Date in YYYY-MM-DD format (if applicable)</label>
			            <input type="text" name="sora_exp" class="form-control" id="sora_exp" placeholder="SORA License Expiration Date"/>
			          </div>

			          
			          <div class="form-group">
			          	<input id="createBtn" type="submit" id="submit" class="btn btn-primary" value="Add New Applicant">
			          </div>

			        </form>      	
			      </div> <!-- End of Modal Body -->
			      <!-- The .modal-footer class is used to define the style for the footer of the modal. Note that this area is right aligned by default. -->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			      </div>
			    </div> <!-- End of Modal Content -->
			  </div> 
			</div><!-- End of Modal -->
		</div>
		<!-- start update applicant div -->
		<div class="jumbotron">
			<h2>Update Applicant</h2>
			<p>Will fill in description later - this is placeholder text</p>
			<button href="update-applicant.html">Update</button>

			<!-- second modal for updating goes here -->

		</div>
		<!-- start view all div -->
		<div class="jumbotron">
			<h2>View All Applicants</h2>
			<p>Will fill in description later - this is placeholder text</p>
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#allApplicants">
		  	VIEW ALL APPLICANTS
			</button>
			<!-- Start of Modal -->
			<div class="modal fade bs-example-modal-lg" id="allApplicants" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog">
				  <!-- Modal Content -->
				    <div class="modal-content">
				    	<!-- Modal Header -->
				      <!-- The .modal-header class is used to define the style for the header of the modal  -->
				      <div class="modal-header">
				      <!-- The <button> inside the header has a data-dismiss="modal" attribute which closes the modal if you click on it -->
				      <!-- The .close class styles the close button, and the .modal-title class styles the header with a proper line-height -->
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Applicants per Contract</h4>
				      </div>

				      <!-- The .modal-body class is used to define the style for the body of the modal. Add any HTML markup here; paragraphs, images, videos, etc. -->
				      <div class="modal-body">
				        	<div class="form-group">
		                <label for="contract_view">Contract</label>
		                	<select class="chosen-select" id="contract_view">
						 		<option value=""></option>
					            <option value="1" id="option1">1 - Transportation</option>
					            <option value="2" id="option2">2 - Warehouse</option>
					            <option value="3" id="option3">3 - Lav&amp;Water</option>
					            <option value="4" id="option4">4 - FeDex</option>
					            <option value="5" id="option5">5 - VBC</option>
					            <option value="6" id="option6">6 - Wheelchair</option>
					            <option value="7" id="option7">7 - Port Authority Baggage</option>
	      					</select>

	      				    <div class="text-right">
	      				    	<button type="submit" class="btn btn-primary btn-md" id="add-btn"> View Contracts</button>
							</div>

							<div id="contratTitle"></div>

	              	  </div>
					
					<div id="viewData">
						<table class="table">
						</table>
					</div>

				      </div> <!-- End of Modal Body -->
				      <!-- The .modal-footer class is used to define the style for the footer of the modal. Note that this area is right aligned by default. -->
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				      </div>

				    </div> <!-- End of Modal Content -->
				  </div> 
				</div> <!-- End of Modal -->			
		</div> <!-- use handlebars here? -->
		<!-- start results dashboard div -->
		<div class="jumbotron">
			<h2>Results Dashboard</h2>
			<p>Will fill in description later - this is placeholder text</p>
			<button type="button"><a href="dashboard">Results</a></button> <!-- will link to new HTML file -->
		</div>
	</section>
	<!-- footer start -->
	<footer>
		<p>Copyright 2017 Magenta Group</p>
	</footer>




<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
	
	$("#add-btn").on("click", function() {
		// event.preventDefault();
		var contractOption = {
			contract: $("#contract_view").val()
		}
		console.log(contractOption);

		$.post("/viewAll", contractOption, function(data) {

			$("table").html("<thead><tr> <th scope='row'>First Name</th> <th>Last Name</th> <th>Cell Phone</th> <th>Email</th> <th>Contract Name</th> <th>Position</th> </tr></thead><tbody>")

			$("#contratTitle").html("<h4>Viewing Contract: " + data[0].contract_name + "</h4>");

			for (var i=0; i<data.length; i++) {
				$("table").append("<tr> <td>" + data[i].first_name + "</td> <td>" + data[i].last_name + "</td> <td>" + data[i].cell_phone + "</td> <td>" + data[i].email + "</td> <td>" + data[i].contract_name + "</td> <td>" + data[i].position + "</td> </tr>");
			}
			$("table").append("</tbody>")
		});
	});

</script>

</body>
</html>