<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Magenta Applicant Tracking App</title>
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
<!-- 	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<style type="text/css">
		#check {
			  fill: none;
			  stroke: green;
			  stroke-width: 20;
			  stroke-linecap: round;
			  stroke-dasharray: 180;
			  stroke-dashoffset: 180;
			  animation: draw 2s infinite ease;
			}
			@keyframes draw {
			  to {
			    stroke-dashoffset: 0;
			  }
			}
	</style>
	<header class="jumbotron">
		<h1>Update Applicants Dashboard</h1>
	</header>
	<div class="container">
		<h2>Search Applicant</h2>
		<div class="col-lg-4">
			<input id="email" class="input-lg" type="text" name="email" placeholder="Search by Email" required>
			<button id="searchApplicant" class="btn btn-primary btn-lg" action="/applicants/update" method="GET" type="submit" name="search" value="Submit">Submit</button>
		</div>
	</div>
	<div id="applicantResults" class="container"></div>
	<div>
		<button id="editApplicant" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#updateApplicant" action="/viewProcess" method="GET" type="submit" name="search" value="Submit">Edit Applicant</button>
	</div>
	<div>
	<a href="/home"><button type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-home"></span></button></a>
	</div>
				<!-- modal start -->
			<div class="modal fade bs-example-modal-lg" id="updateApplicant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog">
			  <!-- Modal Content -->
			    <div class="modal-content">
			    	<!-- Modal Header -->
			      <!-- The .modal-header class is used to define the style for the header of the modal  -->
			      <div class="modal-header">
			      <!-- The <button> inside the header has a data-dismiss="modal" attribute which closes the modal if you click on it -->
			      <!-- The .close class styles the close button, and the .modal-title class styles the header with a proper line-height -->
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel"></h4>
			        <input type="hidden" id="applicantID" name="applicantID"/>
			      </div>

			      <!-- The .modal-body class is used to define the style for the body of the modal. Add any HTML markup here; paragraphs, images, videos, etc. -->
			      <div class="modal-body">
			      <form action="/update?_method=PUT" method="POST" role="form">
								<div class="form-group">
			            <label for="fp_appt">FP Appointment</label>
			            <input type="date" name="fp_appt" class="form-control" id="fp_appt"/>
			          </div>
			          <div class="form-group">
			            <label for="fp_background_approval">FP Background Approval</label>
			            <input type="date" name="fp_background_approval" class="form-control" id="fp_background_approval"/>
			          </div>
			          <div class="form-group">
			            <label for="orange_tag">Orange Tag</label>
			            <input type="checkbox" name="orange_tag" class="checkbox  form-control" id="orange_tag"/>
			            <div id="orange-tag-value"></div>
			          </div>
			          <div class="form-group">
			            <label for="sida_class">Sida Class</label>
			            <input type="date" name="sida_class" class="form-control" id="sida_class"/>
			          </div>
			          <div class="form-group">
			            <label for="sida_result">Sida Result</label>
			            <input type="checkbox" name="side_result" class="form-control" id="side_result"/>
			          </div>
			          <div class="form-group">
			            <label for="orientation_training">Orientation Training</label>
			            <input type="date" name="orientation_training" class="form-control" id="orientation_training"/>
			          </div>
			          <div class="form-group">
			            <label for="safety_training">Safety Training</label>
			            <input type="date" name="safety_training" class="form-control" id="safety_training"/>
			          </div>
			          <div class="form-group">
			            <label for="customer_training">Customer Training</label>
			            <input type="date" name="customer_training" class="form-control" id="customer_training"/>
			          </div>
			          <div class="form-group">
			            <label for="receive_id">Receive ID</label>
			            <input type="checkbox" name="receive_id" class="form-control" id="receive_id"/>
			          </div>

							<div class="form-group">
								<input id="updateBtn" type="submit" id="submit" class="btn btn-primary" value="Save Changes"/>
								
							</div>
						</form>

			      </div> <!-- End of Modal Body -->
			      <!-- The .modal-footer class is used to define the style for the footer of the modal. Note that this area is right aligned by default. -->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			      </div>
			    </div> <!-- End of Modal Content -->
			  </div> 
			</div> <!-- End of Modal -->


<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
		

	// Submit button that displays all data assocaite with the chosen applicants application process
	// Idea --> animations: pending sign for processes that haven't been met yet and a drawn out check sign that shows completion
	$("#searchApplicant").on("click", function(event){
		event.preventDefault();
		// Why does this need to be held as an object variable?
		var applicantSelected = { email: $("#email").val().trim()
		}
		console.log(applicantSelected);

		$.post("/viewProcess", applicantSelected, function(data){
			console.log(data)

			// var customerTraining = data[0].customer_training;
			// customerTraining = "pending";
			// Insert for loop function that loops through the data object and replaces values equal to null with a pending sign animation
			// var drawnCheck;
			// if(data[0].fp_appt != null){
			// 		drawnCheck = $("<canvas height='160'/>")
					
			// 		$("#applicantResults").append(drawnCheck)
			// 	}
			// if(data[0].fp_background_approval != null){
			// 		 drawnCheck = $("<canvas height='160'/>")
					
			// 		$("#applicantResults").append(drawnCheck)
			// 	}
			// var start = 100;
			// var mid = 145;
			// var end = 250;
			// var width = 20;
			// var leftX = start;
			// var leftY = start;
			// var rightX = mid - (width / 2.7);
			// var rightY = mid + (width / 2.7);
			// var animationSpeed = 20;

			// var ctx = document.getElementsByTagName('canvas')[0].getContext('2d');
			// ctx.lineWidth = width;
			// ctx.strokeStyle = 'rgba(0, 150, 0, 1)';

			// for (i = start; i < mid; i++) {
			//   var drawLeft = window.setTimeout(function() {
			//     ctx.beginPath();
			//     ctx.moveTo(start, start);
			//     ctx.lineTo(leftX, leftY);
			//     ctx.stroke();
			//     leftX++;
			//     leftY++;
			//   }, 1 + (i * animationSpeed) / 3);
			// }

			// for (i = mid; i < end; i++) {
			//   var drawRight = window.setTimeout(function() {
			//     ctx.beginPath();
			//     ctx.moveTo(leftX, leftY);
			//     ctx.lineTo(rightX, rightY);
			//     ctx.stroke();
			//     rightX++;
			//     rightY--;
			//   }, 1 + (i * animationSpeed) / 3);
			// }


			var applicantInfo = "<tr> <td>" + "Date Applied: " + "</td> <td>" + data[0].applied + "</td> </tr> <tr> <td>" + "Customer Training: " + "</td> <td>" + data[0].customer_training + "</td> </tr> <tr> <td>" + "Orientation Training: " + "</td> <td>" + data[0].orientation_training + "</td> </tr> <tr> <td>" + "Safety Training: " + "</td> <td>" + data[0].safety_training + "</td> </tr> <tr> <td>" + "FP Appointment: " + "</td> <td>" + data[0].fp_appt + "</td> </tr> <tr> <td>" + "FP Background Approval: " + "</td> <td>" + data[0].fp_background_approval + "</td> </tr> <tr> <td>" + "Orange Tag: "+ "</td> <td>"+ data[0].orange_tag + "</td> </tr> <tr> <td>"+ "Sida Class: " + "</td> <td>"+ data[0].sida_class + "</td> </tr> <tr> <td>" + "Sida Result: " + "</td> <td>" + data[0].side_result + "</td> </tr>";
			var name = data[0].first_name +  " " + data[0].last_name;

			$("#applicantResults").append("<h3>" + name + "<h3>");
			$("#applicantResults").append(applicantInfo);
		})
	})

	// Edit Applicant button pulls up the modal which allows the user to edit the applicant's applicant process
	$("#editApplicant").on("click", function(event){
		event.preventDefault();
		// Why does this need to be held as an object variable?
		var applicantSelected = { email: $("#email").val().trim()
		}
		console.log(applicantSelected);

		// This post request displays application process information that is complete and information that is available to edit
		$.post("/viewProcess", applicantSelected, function(data){
			console.log(data)
			$("#myModalLabel").html(data[0].first_name +  " " + data[0].last_name)
			$("#applicantID").attr("value", data[0].id)
			});
		});


	// $("#updateBtn").on("click", function(event){


	$("#orange_tag").on('change', function() {
  	if ($(this).is(':checked')) {
    $(this).attr('value', 1);
  		} else {
    $(this).attr('value', 0);
  		}
  console.log($(this).val())
  	// $('#orange_tag').text($('#orange_tag-value').val());
	});

	$("#side_result").on('change', function() {
  	if ($(this).is(':checked')) {
    $(this).attr('value', 1);
  		} else {
    $(this).attr('value', 0);
  		}
  
	});

		$("#receive_id").on('change', function() {
  	if ($(this).is(':checked')) {
    $(this).attr('value', 1);
  		} else {
    $(this).attr('value', 0);
  		}
	});



</script>

	<footer class="container">
		<p>Copyright 2017 Magenta Group</p>
	</footer>
</body>
</html>